*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
font-family:'Courier New', Courier, monospace;
overflow-x: hidden;
}
.nav-button .button-theme{
  position:relative;
  top:10px;
}
.big-wrap{
  background-image:url(../image/pexels-markie-mad-14005602.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width:100% !important;
  height:700px;
  margin:0 auto !important;
}
.big-wrap .reliable{
  text-align:center;
}
.big-wrap .reliable h1{
  margin-top:20%;
  font-size:50px;
  letter-spacing: 2px;
  color:#fff;
  font-weight:600;
}
.big-wrap .reliable h3{
  font-size:35px;
  font-weight:600;
  color:#fff;
  letter-spacing: 2px; 
}
/* world-wide section start*/
.world-wide{
  background-color:rgb(250, 236, 211);
}
.world-wide .text {
  margin-top:30px;
}
.world-wide .text .dark {
  font-size: 41px;
  font-weight: 700;
}
.world-wide .text h3{
    font-size: 23px;
    font-weight: 500;
    color:#aca8a8;
    padding-left:25px;
}
/* service section  */
.services{
  margin:0 auto;
  height:200px;
  background-color:#fff;
  text-align: center;
}
.services .air h2{
  font-size: 30px;
  font-weight: 700;
  margin-top: 75px;
}
.services  .color{
  color:rgb(238, 113, 68);
}
.services .air h4{
  color: rgb(163, 162, 162);
  font-size: 18px;
  font-weight: 400;
  margin-bottom:40px;
}
.services .air h1{
  font-size: 30px;
  font-weight: 700;
}
.services .air h5{
  font-size:15px;
  font-weight:400;
  letter-spacing: 1px;;
  color:darkgray;
  padding:30px;
}
.services .air .box:hover{
   position:relative;
   bottom:30px;
}
.services .adjust{
  margin:0 auto;
  width:100%;
}
.services .adjust h4{
  text-align:center;
  width:50%;
  margin:0 auto;
  font-size:15px;
  font-weight:500;
}
@media only screen and(max-width:550px){
  body{
    width:100%;
    text-align: center;
  }
  .big-wrap{
    height:500px;
    width: 100% !important;
    background-size:cover;
  }
  .big-wrap .reliable h1{
      margin-top:40% !important;
      font-size:30px !important;
      font-weight:500;     
  }
  .big-wrap .reliable h3{
    font-size:25px !important;
  }
  .world-wide .text .dark {
    font-size:30px;
    font-weight:500;
  }
  .world-wide .text h3{
    font-size:20px;
  }
  .services .air h4{
    font-size:15px;
  }
  .services .air h5{
    font-size:13px;
  }
  .services .air h1{
    font-size:25px;
  }
  .services .adjust h4{
    width:100% !important;
    font-size:15px !important;
  }
}